.header__container {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header__item-searchbar, .header__item-logo  {
    margin: 0 20px;
}

.header__item-searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    flex: 0 0 50%;
}

.header__item-searchbar-input {
    background: #F5F5F5;
    border: none;
    border-radius: 40px 0 0 40px;
    padding: .70rem 2rem;
    width: 80%;
    outline: transparent;
}

.header__item-searchicon{
    background: #fafafa;
    border-radius: 0 40px 40px 0;
    padding: .35rem 1.5rem;
}


.header__item-button {
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid #2A7AE4;
    padding: .75rem 5rem;
    color: #2A7AE4;
    transition: 0.5s;
}

.header__item-button:hover {
    background: #2A7AE4;
    color: #F5F5F5;
}

.header__searchbar-mobile {
    display: none;
}

.search-box {
    display: flex;
    width: 100%;
}

.result-box {
    display: none;
    width: 100%;
    margin-left: 4%;
    position: absolute;
    top: 45px;
}

.result-box ul {
    width: 78%;
    background: #fafafa;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #fafafa;
    padding: 15px 10px;
}

.result-box li {
    list-style: none;
    font-size: 12px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #464646;
}

.result-box li:hover {
    cursor: pointer;
    background: #F5F5F5;
}

.result-box li img {
    width: 50px;
    height: 50px;
}