@media screen and (max-width: 768px) {
    .banner__container {
        padding: 100px 50px;
    }

    .banner__descripcion-titulo {
        font-size: 3.5rem;
    }

    .banner__descripcion-boton {
        width: 20%;
        font-weight: 500;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .banner__container {
        padding: 32px;
    }

    .banner__descripcion-titulo {
        font-size: 1.5rem;
    }

    .banner__descripcion-parrafo {
        font-size: .75rem;
        font-weight: 600;
    }

    .banner__descripcion-boton {
        width: 40%;
    }
}