.footer {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
    background: #EAF2FD;
}

.footer__logo {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.footer__link-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer__link-item a {
    text-decoration: none;
    color: #464646;
}

.footer__link-item a:hover {
    text-decoration: underline;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30%;
}

.footer__form p {
    font-size: 1rem;
    color: #464646;
    font-weight: bold;
}

.footer__form label {
    color: #A2A2A2;
}

.footer__form input {
    padding: 1rem;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    outline: none;
}

.form__input {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    justify-content: flex-end;
    margin: 10px 0;
    gap: 2px;
}

.form__input > input {
    order: 2;
}

.form__input > label {
    order: 1;
}

.form__input > .error-msj {
    order: 3;
}

.form__input input:focus ~ label,
.form__input input:valid ~ label {
    color: #2A7AE4;
}

.form__input input:focus {
    outline: 1px solid #2A7AE4;
}


.form__input label {
    pointer-events: none;
    transition: all 0.3s ease;
}

#mensaje {
    padding-bottom: 3rem;
}

.footer__form button {
    width: 30%;
    padding: 1rem .75rem;
    background: #2A7AE4;
    border: none;
    outline: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    transition: 0.3s;
}

.form__button:hover {
    cursor: pointer;
    transform: scale(105%);
}

.final {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-msj {
    display: none;
}

.active .error-msj{
    display: block;
    font-size: 12px;
    color: #ff0000;
}