.productos__new-container {
    background: #f5f5f5;
    padding: 10rem 0;
}

.productos__new-text {
    font-weight: bold;
    font-size: 2rem;
}

.productos__new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.new__input, .new__button {
    padding: 1.5rem .5rem;
    border-radius: 4px;
    width: 30%; 
    border: none;
    outline: none;
    border-bottom: 1px solid #C8C8C8;
}

.new__button {
    border: 1px solid transparent;
    outline: transparent;
    background: #2A7AE4;
    color: #fff;
    transition: 0.5s;
}

.new__button:hover {
    cursor: pointer;
    background: #fff;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.productos__new-container textarea {
    resize: none;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.drop-area {
    border: 5px dashed #ddd;
    border-radius: 10px;
    width: 35%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 10px;
}

.drop-area h2 {
    text-align: center;
}

.drop-area .active {
    background-color: #b8d4fe;
    color: black;
    border:  2px dashed #618ac9;
}

.drop-container button {
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #2A7AE4;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    font-size: 14px;
}

.file-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview {
    margin-top: 20px;
}

.status-text {
    padding: 0 10px;
}

.success {
    color: #52ad5a;
}

.failure {
    color: #ff0000;
}

@media screen and (max-width:768px) {
    .new__input, .new__button {
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .new__input, .new__button {
        padding: 1rem .5rem;
    }

    .productos__new-container {
        padding: 2rem 0;
    }

    .productos__new-text {
        font-size: 1.5rem;
    }
}