.productos {
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productos__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.producto__header-text {
    font-size: 2rem;
    font-weight: bold;
    color: #464646;
}

.productos__button-add {
    border: 1px solid transparent;
    background: #2A7AE4;
    padding: 1rem;
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    transition: 0.3s;
}

.productos__button-add:hover {
    color: #2A7AE4;
    background: #FFF;
    border: 1px solid #2A7AE4;
}

.productos__container {
    display: flex;
    width: 100%;
    padding: 50px 150px;
    flex-direction: column;
}

.productos__container-list {
    list-style: none;
    display: flex;
    gap: 4.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.productos__container-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    max-width: 200px;
    overflow: hidden;
}

.productos__container-item a {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

.productos__container-item a:hover {
    text-decoration: underline;
}

.productos__container-item img {
    width: 200px;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    object-fit: cover;
}

.productos__container-img {
    position: relative;
    transition: all 0.5s ease;
    z-index: 1;
}

.icon-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s ease;
    opacity: 0;
    text-align: center;
    padding: 50% 0;
}

.icon-container:hover {
    opacity: 1;
    backdrop-filter: blur(4px);
}

.icon-container i {
    font-size: 30px;
    color: #FFF;
}

.icon-container button {
    background: transparent;
    border: none;
    outline: none;
}

.icon1:hover {
    color: red;
    cursor: pointer;
}

.icon2:hover {
    color: #2A7AE4;
    cursor: pointer;
}

.confirmswal {
    box-shadow: none !important;
    background: #2A7AE4 !important;
}