.productos {
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.productos__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.producto__header-text {
    font-size: 2rem;
    font-weight: bold;
    color: #464646;
}

.productos__button-add {
    border: 1px solid transparent;
    background: #2A7AE4;
    padding: 1rem;
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    transition: 0.3s;
}

.productos__button-add:hover {
    color: #2A7AE4;
    background: #FFF;
    border: 1px solid #2A7AE4;
}

.productos__container {
    display: flex;
    width: 100%;
    padding: 50px 150px;
    flex-direction: column;
}

.productos__container-list {
    list-style: none;
    display: flex;
    gap: 4.5rem;
    flex-wrap: wrap;
    width: 100%;
}

.productos__container-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
}

.productos__container-item a {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

.productos__container-item a:hover {
    text-decoration: underline;
}

.productos__container-item img {
    width: 200px;
}